<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Family Tree</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Add additional CSS/JS in static file -->
    {% load static %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="{% static 'webapp/css/styles.css' %}">
    <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            toastr.options = {
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": true,
                "onclick": null,
                "fadeIn": 100,
                "fadeOut": 100,
                "expectedDuration": 4000,
            };

            {% for message in messages %}
                toastr["{{ message.tags }}"]("{{ message }}");
            {% endfor %}
        });
    </script>
    <!-- Add favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'webapp/favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'webapp/favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'webapp/favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'webapp/favicon_io/site.webmanifest' %}">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 sidebar">
            {% block sidebar %}
                <ul class="sidebar-nav">
                    {% if user.is_authenticated %}
                        <li>User: {{ user.get_username }}</li>
                        <li><a href="{% url 'logout' %}?next=/">Logout</a></li>
                        <li><a href="{% url 'password_change' %}">Change password</a></li>
                        <p></p>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'tree' %}">My Trees</a></li>
                        <li><a href="{% url 'partnership' %}">All Partnerships</a></li>
                        <li><a href="{% url 'add_partnership' %}">Add Partnership</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'signup' %}">Create Account</a></li>
                    {% endif %}
                </ul>
            {% endblock %}
        </div>
        <div class="col-sm-10 content">{% block content %}{% endblock %}</div>
    </div>
</div>
</body>
</html>