{% extends "base_generic.html" %}

{% block content %}
    <div class="person-form">
        <h1>Add Person</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <table>
                {{ name_form.as_table }}
                {{ person_form.as_table }}
            </table>

            <h2> Alternate Names </h2>
            <table>
                {{ alt_name_formset.management_form}}

                {% for form in alt_name_formset.forms %}
                    {% if forloop.first %}
                    <thead>
                    <tr>
                        {% for field in form.visible_fields %}
                            <th>{{ field.label_tag }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    {% endif %}
                    <tbody>
                    <tr class="formset_row">
                        {% for field in form.visible_fields %}
                            <td>{{ field }} &nbsp;</td>
                        {% endfor %}
                    </tr>
                    </tbody>
                {% endfor %}
            </table>

            <h2>Birth Location</h2>
            <table>
                {{ birth_location_form.as_table }}
            </table>
            
            <h2>Death Location</h2>
            <table>
                {{ death_location_form.as_table }}
            </table>
            <input type="submit" value="Submit"/>
        </form>
    </div>
{% endblock %}