<h3 style="display:inline">Partnerships</h3>
&nbsp;
<a href="{% url 'add_partnership' tree.id %}" style="color:grey;opacity: 0.9;">add</a>
{% if partnership_list %}
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th> Partnership</th>
                <th> Current</th>
                <th> Married</th>
                <th> Marriage Date</th>
                <th> Divorced</th>
                <th> Divorced Date</th>
                <th> Children</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for partnership in partnership_list %}
                <tr>
                <td>
                    {% for partner in partnership.partners %}
                        <li><a href="{{ partner.get_absolute_url }}">{{ partner }}</a></li>
                    {% endfor %}
                </td>
                <td>{{ partnership.marital_status }}</td>
                <td>{{ partnership.marriage_date }}</td>
                <td>{{ partnership.divorce_date }}</td>
                <td>
                    {% with children=partnership.children.all %}
                        {% if children %}
                            <ul>
                                {% for child in children %}
                                    <li><a href="{{ child.get_absolute_url }}">{{ child }}</a></li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>None</p>
                        {% endif %}
                    {% endwith %}
                </td>
                <td>
                    <button onclick="location.href='{% url 'edit_partnership' partnership.id %}'">edit</button>
                </td>
                <td> {% include "webapp/delete_confirmationbox.html" with type='Partnership' id=partnership.id str=partnership delete_function='delete_partnership' %} </td>
            {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
{% else %}
    <p>There are no partnerships in the tree.</p>
{% endif %}