{% extends 'base_generic.html' %}
{% load static %}


{% block content %}
    <canvas id="person-graph" width="200" height="100"></canvas>
    {# Insert values from project for reference in scripts #}
    {{ person_id|json_script:"person_id" }}
    {{ persons|json_script:"persons" }}
    <script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.g6-3.3.1/dist/g6.min.js"></script>
    <!-- Container must be declared before script creating g6 graph -->
    <div id="family-graph"></div>
    <script type="text/javascript" src="{% static "/webapp/js/graph_person.js" %}"></script>
{% endblock %}