<h4 style="display:inline">People</h4>
&nbsp;
<a href="{% url 'add_person' tree.id %}" style="color:grey;opacity: 0.9;">add</a>
{% if persons %}
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th> Name</th>
                <th> Gender</th>
                <th> Birth Date</th>
                <th> Birth Location</th>
                <th> Living</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for person in persons %}
                <tr>
                <td>
                    <a href="{% url 'person_detail' person.pk %}">
                        {% with name=person.legal_name %}
                            {% if name.prefix %}
                                {{ name.prefix }}
                            {% endif %}
                            {{ name.first_name }}
                            {{ name.middle_name }}
                            {{ name.last_name }}
                            {{ name.suffix }}
                        {% endwith %}
                    </a>
                </td>
                <td>{{ person.gender }}</td>
                <td>{{ person.birth_date }}</td>
                <td>{{ person.birth_location }}</td>
                <td>{{ person.living }}</td>
                <td>
                  <a class="nav-fill" href="{% url 'edit_person' person.id %}">edit</a>
                <td> {% include "webapp/delete_confirmationbox.html" with type='Person' id=person.id str=person.legal_name delete_function='delete_person' %} </td>
            {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
{% else %}
    <p>There are no people in the tree.</p>
{% endif %}