{% extends "base_generic.html" %}

{% block content %}
    <p>
    {% load static %}
    <h3 style="display:inline">
        <img src="{% static "webapp/svg/person_icon.svg" %}" class="page-icon" height=33 width=25 alt="Person">
        {{ person.legal_name.prefix }}
        {{ person.legal_name.first_name }}
        {{ person.legal_name.middle_name }}
        {{ person.legal_name.last_name }}{% if person.legal_name.suffix %}, {{ person.legal_name.suffix }}{% endif %}

    </h3>
    <p style="display:inline;color:grey;font-size:x-large;">#{{ person.id }}</p>

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar">
        <div class="btn-group mr-2" role="group" aria-label="Navigation">
            <button type="button" class="btn btn-secondary" onclick="location.href='{% url 'tree_detail' person.tree.id %}'">Back to Tree</button>
        </div>
        <div class="btn-group" role="group" aria-label="Editor actions">
            <button type="button" class="btn btn-secondary" onclick="location.href='{% url 'edit_person' person.id %}'">Edit</button>
            <button type="button" class="btn btn-secondary" onclick="document.getElementById('Person_{{ person.id }}').style.display='block'">Delete</button>
            <button type="button" class="btn btn-secondary" onclick="location.href='{{ request.path }}graph/'">View Graph</button>
        </div>
    </div>

    {% include "webapp/delete_modal.html" with type='Person' id=person.id str=person.legal_name delete_function='delete_person' %}

    <p><strong>Alternate names:</strong></p>
    {% with alternate_names=person.alternate_name.all %}
        {% if alternate_names %}
            <ul>
                {% for name in alternate_names %}
                    <li>
                        {{ name.prefix }}
                        {{ name.first_name }}
                        {{ name.middle_name }}
                        {{ name.last_name }}{% if name.suffix %}, {{ name.suffix }}{% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>None</p>
        {% endif %}
    {% endwith %}
    <p><strong>Gender:</strong> {{ person.gender }}</p>
    <p><strong>Birth date:</strong> {{ person.birth_date }}</p>
    <p><strong>Birth location:</strong> {{ person.birth_location }} </p>
    <p><strong>Living:</strong> {% if person.living == 'Alive' %}Yes{% elif person.living == 'Dead' %}No{% else %}Unknown{% endif %}</p>
    {% if person.living == 'Dead' %}
        <p><strong>Death date:</strong> {{ person.death_date }}</p>
        <p><strong>Death location:</strong> {{ person.death_location }}</p>
    {% endif %}

    <p><strong>Parents</strong></p>
    {% with parents=person.parents %}
        {% if parents %}
            <ul>
                {% for partnership in parents %}
                    {% for parent in partnership.partners %}
                        <li><a href="{{ parent.get_absolute_url }}">{{ parent.legal_name }}</a></li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% else %}
            <p>None</p>
        {% endif %}
    {% endwith %}
    <p><strong>Siblings</strong></p>
    {% with siblings=person.siblings %}
        {% if siblings %}
            <ul>
                {% for sibling in siblings %}
                    <li><a href="{{ sibling.get_absolute_url }}">{{ sibling.legal_name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>None</p>
        {% endif %}
    {% endwith %}

    <p><strong>Notes:</strong></p>
    <p>{{ person.notes|default:"None" }}</p>

    {% include 'webapp/partnership_list.html' with partnerships=person.partnerships.all %}
{% endblock %}