<h3 style = "display:inline">People</h3>
&nbsp;
<a href="{% url 'add_person' tree.id %}" style="color:grey;opacity: 0.9;">add</a>
{% if person_list %}
     <ul>
        {% for person in person_list %}
            <li>
                <a href="{{ person.get_absolute_url }}">{{ person.legal_name }}</a>
                {% if person.birth_date %}
                    ({{ person.birth_date.year }} - {{ person.death_date.year }})
                {% endif %}
                &nbsp; 
                <a href="{% url 'edit_person' person.tree.id person.id %}" style="color:grey;opacity: 0.9;">edit</a>
                {% include "webapp/delete_confirmationbox.html" %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>There are no people in the tree.</p>
{% endif %}