<h4>My Trees</h4>
{% if trees %}
    <ul>
        {% for tree in trees %}
            <li>
                <a href="{{ tree.get_absolute_url }}">{{ tree.title }}</a>   
            </li>
        {% endfor %}
        {% if trees.has_next %}
            . . .</br>
            <a href="{% url 'tree' %}">View All</a></br>
        {% endif %}
        <a href="{% url 'add_tree' %}">Add Tree</a>
    </ul>
{% else %}
    <ul>
        <a href="{% url 'add_tree' %}">Create First Tree</a>
    </ul>
{% endif %}