{% extends "base_generic.html" %}

{% block content %}
    <h1 style = "display:inline">
        {{ tree.title }}
        [{{ tree.id }}]
    </h1>
    &nbsp;
    <a href="{% url 'edit_tree' tree.id %}" style="color:grey;opacity: 0.9;">edit</a>
    {% include "webapp/delete_tree.html" %}
    
    <p><strong>Notes:</strong> {{ tree.notes }}</p>

    <!--Display the people list in the tree-->
    {% include "webapp/person_list.html" %}
    <a href="{% url 'add_person' tree.id %}">Add Person</a>
    <br>
    <a href="{% url 'add_partnership' tree.id %}">Add Partnership</a>
{% endblock %}