{% extends "base_generic.html" %}

{% load static %}

{% block content %}
  <h3 style="display:inline">
    <img src="{% static "webapp/svg/tree_icon.svg" %}" class="page-icon" height=33 width=25 alt="">
    {{ tree.title }}
  </h3>
  <p style="display:inline;color:grey;font-size:x-large;" class="mb-4">#{{ tree.id }}</p>

  {#  Delete box #}
  {% include "webapp/delete_modal.html" with type='Tree' id=tree.id str=tree.title delete_function='delete_tree' %}

  <div class="btn-toolbar mb-4" role="toolbar" aria-label="Toolbar">
    <div class="btn-group" role="group" aria-label="Editor actions">
      <a href="{% url 'edit_tree' tree.id %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
          class="fas fa-edit fa-sm text-white-50"></i> Edit</a>
      <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" id="delete_tree"><i
          class="fas fa-trash fa-sm text-white-50"></i> Delete</a>
      <a href="{% url 'export_tree' tree.id %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
          class="fas fa-file-export fa-sm text-white-50"></i> Export</a>
    </div>
  </div>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Notes</h6>
    </div>
    <div class="card-body">
      <p>{{ tree.notes }}</p>
    </div>
  </div>

  <!--Display the people list in the tree-->
  {% include "webapp/person_list.html" %}
  {% include "webapp/partnership_list.html" %}


{% endblock %}

{% block scripts %}
  <script>
      $(document).ready(() => {
          let deleteButton = document.getElementById("delete_tree");
          deleteButton.addEventListener("click", () => document.getElementById('Tree_{{ tree.id }}').style.display = 'block');
      });
  </script>
{% endblock %}

