{% extends "base_generic.html" %}
{% block styles %}
  {% load static %}
  <link href="{% static "webapp/vendor/datatables/jquery.dataTables.min.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <h1 class="h3 mb-2 text-gray-800">My Trees</h1>
  <p class="mb-4">Trees I've created or imported</p>
  <div class="btn-toolbar mb-4" role="toolbar" aria-label="Toolbar">
    <div class="btn-group" role="group" aria-label="Editor actions">
      <a href="{% url 'add_tree' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
          class="fas fa-plus fa-sm text-white-50"></i> Add</a>
      <a href="{% url 'import_tree' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
          class="fas fa-file-import fa-sm text-white-50"></i> Import</a>
    </div>
  </div>
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Trees</h6>
    </div>
    <div class="card-body">
      {% if tree_list %}
        <div class="table-responsive">
          <table class="table table-striped table-sm" id="dataTable">
            <thead>
            <tr>
              <th class="">Name</th>
              <th class="sorting_asc_disabled sorting_desc_disabled"></th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <th>Name</th>
              <th></th>
            </tr>
            </tfoot>
            <tbody>
            {% for tree in tree_list %}
              <tr>
                <td><a href="{{ tree.get_absolute_url }}">{{ tree.title }}</a></td>
                <td class="dt-body-right">
                  <a href="{% url 'edit_tree' tree.id %}" class="btn btn-primary btn-icon-split btn-sm">
                    <span class="icon text-white-50"><i class="fas fa-edit"></i></span>
                    <span class="text">Edit</span>
                  </a>
                  <a onclick="document.getElementById('Tree_{{ tree.id }}').style.display='block'" class="btn btn-danger btn-icon-split btn-sm">
                    <span class="icon text-white-50"><i class="fas fa-trash"></i></span>
                    <span class="text">Delete</span>
                  </a>
                  {% include "webapp/delete_modal.html" with type='Tree' id=tree.id str=tree.title delete_function='delete_tree' %}
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
        <p>There are no trees in the library.</p>
      {% endif %}
      <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                  <a href="?page=1">[first]</a>
                  <a href="?page={{ page_obj.previous_page_number }}">[&lt&lt]</a>
                {% endif %}

              <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

              {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">[&gt&gt]</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">[last]</a>
              {% endif %}
            </span>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static "webapp/vendor/datatables/jquery.dataTables.min.js" %}"></script>
{#  <script src="{% static "webapp/vendor/datatables/dataTables.bootstrap4.min.js" %}"></script>#}
  <script src="{% static "webapp/js/tree_list.js" %}"></script>
{% endblock %}