{% extends "base_generic.html" %}

{% block content %}
    <h1 style="display:inline">My Trees</h1>
    &nbsp;
    <a href="{% url 'add_tree' %}" style="color:grey;opacity: 0.9;">add</a>
    {% if tree_list %}
        <ul>
            {% for tree in tree_list %}
                <li>
                    <a href="{{ tree.get_absolute_url }}">{{ tree.title }}</a>
                    &nbsp;
                    <a href="{% url 'edit_tree' tree.id %}" style="color:grey;opacity: 0.9;">edit</a>
                    {% include "webapp/delete_confirmationbox.html" with type='Tree' id=tree.id str=tree.title delete_function='delete_tree' %}
                </li>
            {% endfor %}
        </ul>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">[first]</a>
                    <a href="?page={{ page_obj.previous_page_number }}">[&lt&lt]</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">[&gt&gt]</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">[last]</a>
                {% endif %}
            </span>
        </div>

    {% else %}
        <p>There are no trees in the library.</p>
    {% endif %}
{% endblock %}