{% extends "base_generic.html" %}

{% block content %}
    <h1>Tree List</h1>
    {% if tree_list %}
        <ul>
            {% for tree in tree_list %}
                <li>
                    <a href="{{ tree.get_absolute_url }}">{{ tree.title }}</a>
                    &nbsp;
                    <a href="{% url 'edit_tree' tree.id %}" style="color:grey;opacity: 0.9;">edit</a>
                    {% include "webapp/delete_tree.html" %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no trees in the library.</p>
    {% endif %}
    <a href="{% url 'add_tree' %}">Add Tree</a>
{% endblock %}