{% extends "base_generic.html" %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {% if form.old_password.errors %}
            {{ form.old_password.errors }}
        {% endif %}
        <p>Old password {{ form.old_password }}</p>
        {% if form.new_password1.errors %}
            {{ form.new_password1.errors }}
        {% endif %}
        <p>New password {{ form.new_password1 }}</p>
        {% if form.new_password2.errors %}
            {{ form.new_password2.errors }}
        {% endif %}
        <p>New password (again) {{ form.new_password2 }}</p>
        <input type="submit" class="btn btn-default btn-lg" value="Change password">
    </form>

    <p>Forgot password? <a href="{% url 'password_reset' %}">reset password</a></p>
{% endblock %}