html, body {
    height: 100%;
}

.container-fluid {
    height: 100%;
    overflow-y: hidden;
}

.row {
    height: 100%;
    overflow: hidden;
}

.sidebar {
    height: 100%;
    overflow: hidden;
    background-color: rosybrown;
}

.sidebar-nav {
    /*height: 100%;*/
    overflow-y: auto;
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.sidebar a:link {
    color: white;
}

.sidebar a:visited {
    color: white;
}

.sidebar a:hover {
    color: lightgrey;
    text-decoration: none;
}

.sidebar a:active {
    color: darkgray;
    text-decoration: none;
}

.content {
    height: 100%;
    overflow-y: auto;
}

.location-form label {
    margin-right: 10px;
}

.person-form label {
    margin-right: 10px;
}

button {
    color: grey;
    background-color: transparent;
    padding: 0 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

button:hover {
    opacity: 0.9;
    text-decoration: underline;
}

/* Float cancel and delete buttons  */
.cancelbtn, .deletebtn {
    background-color: white;
    color: grey;
    padding: 0 5px 15px;
}

/* center-align text to the container */
.container {
    text-align: center;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 10% auto 15% auto; /* 10% from the top, 15% from the bottom and centered */
    width: 30%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .deletebtn {
        width: 100%;
    }
}

#toast-box {
    background-color: lightsteelblue;
}

.bg-rosybrown {
    background-color: rosybrown;
}

.sidebar-item {
    color: white;
    background-color: transparent;
}

.sidebar-system-text {
    color: #4f4f4f;
}

.sidebar-item:hover {
    background-color: #ffffff55;
}