<button onclick="document.getElementById('id{{person.id}}').style.display='block'">delete</button>

<div id="id{{person.id}}" class="modal">
    <form class="modal-content" action="{% url 'delete_person' person.id person.legal_name.id %}" method="POST">
        {% csrf_token %}
        <span onclick="document.getElementById('id{{person.id}}').style.display='none'" class="close"
              title="Close Modal">&times;</span>
        <div class="container">
            <br>Are you sure you want to delete <i>{{ person.legal_name }}</i>?
            <div class="clearfix">
                <button type="button" class="cancelbtn" onclick="document.getElementById('id{{person.id}}').style.display='none'"
                        title="Close Modal">Cancel
                </button>
                <button type="submit" class="deletebtn">Delete</button>
            </div>
        </div>
    </form>
</div>