{% extends "base_generic.html" %}

{% block content %}
  <h1>Partnership List</h1>
  {% if partnership_list %}
  <ul>
    {% for partnership in partnership_list %}
      <li>
        <b>Partners:</b> 
        {% for people in partnership.person_set.all %}
          <a href="{{ people.get_absolute_url }}">{{ people.legal_name }}</a>
        {% endfor %}
        {% comment %} {{partnership.person_set.all|join:','}} {% endcomment %}
        <br>Married: {{partnership.married}}
        <br>Current: {{partnership.current}}
        <!-- 
        <a href="{{ people.get_absolute_url }}">{{ people.first_name }} ({{people.last_name}})</a>
        -->
      </li>
      <br>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no partnerships in the library.</p>
  {% endif %}       
{% endblock %}