{% extends "base_generic.html" %}
{% load static %}
{% block head %}
    <style></style>
{% endblock %}

{% block content %}
    <p><h3 style="display: inline;"><u>Name</u>: {{ person.legal_name }}</h3>
    <p><strong>Gender:</strong> {{ person.gender }}</p>
    <p><strong>Born:</strong> {{ person.birth_date }} &nbsp; <strong>Location:</strong>{{ person.birth_location }} </p>
    {% if not person.living %}
        <p><strong>Died:</strong> {{ person.death_date }} &nbsp; <strong>Location:</strong> {{ person.death_location }}
        </p>
    {% endif %}
    <p><strong>Notes:</strong> {{ person.notes }}</p>

    <h6>Partnerships</h6>
    <ul>
        {% for partnership in person.partnerships.all %}
            <li>
                Partnership {{ partnership.id }}<br>
                Partners:
                <ul>
                    {% for partner in partnership.partners %}
                        {% if person != partner %}
                            <li><a href="{{ partner.get_absolute_url }}">{{ partner }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                Current: {{ partnership.current }}<br>
                Married: {{ partnership.married }}<br>
                Divorced: {{ partnership.divorced }}<br>
            </li>
        {% endfor %}
    </ul>
{% endblock %}