{% extends "base_generic.html" %}

{% block content %}
    <h1>People List</h1>
    {% if person_list %}
        <ul>
            {% for person in person_list %}
                <li>
                    <a href="{{ person.get_absolute_url }}">{{ person.legal_name }}</a>
                    {% if person.birth_date %}
                        ({{ person.birth_date.year }} - {{ person.death_date.year }})
                    {% endif %}
                    <form action="{%  url 'delete_person' person.id %}" method="POST" style="display: inline;" onsubmit="window.mytest()">
                      {% csrf_token %}
                      <button type="submit">Delete</button>
                  </form>
                  <script type="text/javascript">window.mytest = function() { 
                    var isValid = confirm('Are you sure ?');
                    if (!isValid) { 
                      event.preventDefault();  
                      alert("Not deleted!");
                    }
                  }
                  </script>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no people in the library.</p>
    {% endif %}
{% endblock %}